.back {
    color: blue;
	margin-right: 30px;
    padding: 5px;
    cursor: pointer;
}

.title {
    position: fixed;
    top: 0;
    border-bottom: 2px solid darkblue;
    margin-top: 21px;
    margin-bottom: 15px;
    z-index: 1;
    background-color: white;
}

.title h1 {
    color: blue;
    margin: 0;
    display: inline;
}

.badge {
    transform: translate(20px, -2px);
    font-size: 1.2em;
    margin-top: -10px;
}

img {
    color: blue;
	margin-left: 30px;
	margin-top: -13px;
	cursor: pointer
}

.mat-progress-spinner {
    display: inline;
	margin-left: 30px;
}

