.photoMin {
	float: left;
	margin: 5px;
	padding: 4px 4px 0 4px;
	cursor: default;
	text-align: center;
}

.photoMin img {
	display: block;
	cursor: pointer;
}

.legend {
	font-size: 0.8em;
	color: grey;
	font-style: italic;
}

.content {
	margin-top: 60px;
}

.content.flex {
	display: flex;
	align-items: center;
}

.previous, .next, .photos {
	flex: 1;
}

.previous {
	text-align: right;
}