.photoMin {
    float: left;
    margin: 12px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    cursor: default;
}

.photoMin img {
    display: block;
    cursor: pointer;
}

.legend {
    text-decoration: underline;
    color: lightgrey;
}

.content {
    margin-top: 60px;
}

.spinner{
    margin: 0 auto;
}